.swiper {
    width: 100%;
    height: 300px;
  }

.swiper-slide.first{
    background-color: darkcyan;
    background-image: url('https://images.pexels.com/photos/14300518/pexels-photo-14300518.jpeg?auto=compress&cs=tinysrgb&w=300');
}

.swiper-slide.second{
    /* background-color: yellow; */
    background-image: url("https://images.pexels.com/photos/18005100/pexels-photo-18005100/free-photo-of-fa1-vsco.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load");
    background-position: center;
    background-size: cover;
}

.swiper-slide.third{
    background-color: pink;
    background-image: url("https://images.pexels.com/photos/18500689/pexels-photo-18500689.jpeg?auto=compress&cs=tinysrgb&w=300")
}

.swiper-slide{
    background-image: url("https://images.pexels.com/photos/14331315/pexels-photo-14331315.jpeg?auto=compress&cs=tinysrgb&w=300");
}

.swiper-pagination-bullet{
   background-color: white;
   border: 1px solid black; 
}

.swiper-pagination-bullet-active{
    /* --color:black; */
    background-color: var(--color,aliceblue);
    width: 50px;
    border-radius: 4px;
    transition: all 200ms ease;
}

/* html,
body{
    
      position: relative;
      height: 100%;
   
} */
.swiper-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}