h1{
    position: relative;
    padding: 0 0.5rem;
    width: fit-content;
}

h1::before,
h1::after{
    position: absolute;
    top: 0;
    content: '"';
    width: 20px;
    height: 10%;
}


h1::before{
    left: -7px;
}

h1::after{
    left: 100%;
}