@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:hsl(220,90%,40%);
}

html,body{
    font-family: 'IAMAPLAYER';
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
}

#app{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: aliceblue;
    padding: 1rem;
}
.list-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

#header{
    width: 100%;
    margin-bottom: 1rem;
}

#header h1{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#header h1 .icon{
    color: var(--main-color);
}

.input-wrapper{
    display: flex;
    width: 100%;
    box-shadow: 0 0 0 1px var(--main-color);
    border-radius: 0.5rem;
}

.input-wrapper #add-todo{
    width: 100%;
    padding: 0.75rem 1rem;
    border: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem ;
}

.input-wrapper #add-todo:focus{
    outline:0;
    box-shadow: 0 0 0 3px var(--main-color);
}

.input-wrapper .add-button{
    border: 0;
    display: flex;
    padding: 0.7rem 1rem;
    max-width: 80px;
    white-space: nowrap;
    font-weight: bold;
    background-color: var(--main-color);
    color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem ;
}

#list{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.list-item{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    cursor: pointer;
    position: relative;
    padding-left: 2rem;
    /* display: flex;
    align-items: center; */
    
}

.list-item::before{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    left: 0;
    background: url('https://api.iconify.design/mingcute/check-fill.svg') no-repeat center center / contain;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.list-delete{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    border: 0;
    color: white;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item.checked{
    color: gray;
    opacity: 0.2;
}

.list-item.checked .list-delete{
    background-color: gray;
}