table{
       border:1px solid #222;
       border-collapse:collapse;
}

table td{
       border-bottom:1px solid #222;
       border-right:1px solid #222;
       padding:12px;
}

table td:first-child{
       text-align:center;
       background-color:green;
}

table td:last-child{
       background-color:#b325fa;
}

table td{
          border-bottom:3px solid red;
          border-top:3px solid #03fca1;
          border-left:3px dashed #03fcfc;
}

table td{
         color:#ffadb3;
}

.container{
     border:4px solid black;
     padding: 5px;
}

table td:first-child{
       border-right:30px double black;
}

table{
     border-radius:30px;
     overflow:hidden;
}