.big{
   font-size: 32px;
   font-weight: bold;
}
.small{
   font-size: 16px;          
   font-weight: 300;
   /* 백단위로 100~900의 값을 넣을 수 있다*/
   /* 밑에 있는 지시가 우선순위 */
}
.pink {
        color: red;
        background-color: yellow;
        font-size:24px;
}
.red {
    color: blue;
    background-color: green;
    font-weight:bold;
}