a{
    color: #222;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: red;
}

img{
    display: block;
    width: 300px;
    height: 300px;
    object-fit: contain;
    /* 비율을 유지한 채 가장 긴부분에 맞춰 이미지를 채운다 */
    object-fit: fill;
    /* 비율을 무시한 채로 무조건 영역에 채운다 */
    object-fit: cover;
    /* 가장 빈번하게 쓰는 속성 이미지를 최대한 비율을 유지하고 
    채우는데 집중하는 속성 */
    background-color: aquamarine;
    /* filter:blur(10px); */
    filter: grayscale(100%);
    transition:all 1000ms ease;
    cursor:pointer;
    transform: scale(0.8);
    margin: 40px;
    border-radius: 150px;
}

img:hover{
    filter: grayscale(0);
    transform: scale(1);
}