* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* asterisk */

#box1 {
  /* padding top을 이용해 글자를 내리는 방법 */
  /* 그러나 박스의 높이가 달라지면 다시 노가다 */
  /* width: 200px;
  height: 100px;
  background-color: #0066ce;
  color: white;
  font-weight: bold;
  text-align: center; 
  padding-top:35px
   */
}

/* 높이가 딱 얼마다 라고 이야기 할 필요가 없는  경우 */
/* 높이가 얼마인지를 몰루 */
#box1 {
  width: 200px;
  background-color: #06c;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
}

/* 글이 한줄로 끝나는것이 확실할때 */
/* 정중앙 정렬도 가능, 박스의 높이도 이야기 할술 */
#box1 {
  width: 200px;
  height: 100px;
  background-color: #06c;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 100px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 글이 여러줄 일수도 있고 */
/* 박수의 높이도 확실히 이야기하고 싶고 */
/* 정확히 글을 상하 중앙정렬 하고 싶을 때 */

#inner_box {
  display: inline;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
}
#lnb {
  float: right;
  padding-right: 15px;
}

.main {
  float: left;
}

.main > a {
  display: inline-block;
  padding: 10px 15px;
  font-weight: bold;
  color: pink;
  position: relative;
}

.sub {
  position: absolute;
  background-color: bisque;
  padding: 10px 5px;
  width: 100px;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: none;
}

.main:last-of-type > .sub {
  margin-left: -30px;
}

.sub a {
  color: red;
  display: block;
  padding: 4px 0;
}

.sub a:hover {
  background-color: #5af;
}

/* main에 마우스를 올렸을때 */
/* 방금마우스올린그것의 자식 .sub를 보여준다 */

.main:hover > .sub {
  display: block;
}

.main a::before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: red;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  transition: width 1s ease;
}

.main a::after {
  content: "ㅋㅋㅋ";
}

.main:hover > a::before {
  width: 80px;
}

#cover {
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
