@font-face {
    font-family: 'Ramche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Ramche';
}

#app{
    background-image:url("https://images.pexels.com/photos/14349417/pexels-photo-14349417.jpeg?auto=compress&cs=tinysrgb&w=400");
    width:100%;
    height:100vh;
    /* filter:saturate(0%) */
    filter:grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    padding: 2rem;
}

[data-counter]{
    display: flex;
    line-height: 1.2;
    font-size: 8vw;
    font-weight: 100;
    margin: 1rem;
    mix-blend-mode: difference;
    color: white;
}

[data-couter] > .timer{
    margin-left: 1rem;
}

h1{
    font-size: 4vw;
    letter-spacing: -1px;
    font-weight: 100;
    mix-blend-mode: difference;
    color:white;
}