*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(https://images.pexels.com/photos/9667972/pexels-photo-9667972.jpeg?auto=compress&cs=tinysrgb&w=400);
    opacity: 0.8;
    max-width: 100%;
    width: 100%;
    height: 100%;
    height: 100vh;
}

.item{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
   
    
    
} 

.item h1{
    font-size: 50px;
}

.item p{
    font-size: 20px;
}

.animation{
    position: absolute;
    bottom: 180px;
    color: white;
    font-size: 20px;
    
}


.sc{
    position: absolute;
    border: 1px solid white;
    height: 80px;
    width: 30px;
    border-radius: 30px;
    bottom: 60px;
}

.scroll{
    position: absolute;
    border: 1px solid white;
    height: 10px;
    padding: 8px;
    border-radius: 30px;
    animation-name: morph;
    animation: morph 1.3s infinite alternate cubic-bezier(0.93, 0.07, 0.05, 1.01);
    bottom: 3px;
}


.ani{
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    bottom: 10px;
    animation-name: morphs;
    animation: morphs 1.3s infinite alternate cubic-bezier(0.93, 0.07, 0.05, 1.01);
}

/* .anis{
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    bottom: 10px;
    margin-right: 200px;
} */

.anisd{
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    bottom: 10px;
    margin-left: 100px;
    animation-name: morphs;
    animation: morphs 1.3s infinite alternate cubic-bezier(0.93, 0.07, 0.05, 1.01);
}

@keyframes morph{

    0%{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translateY(0%);
        background-color: white;
    }

    100%{
        background-color: white;
        transform:translateY(calc(50px - 100px));
        
    }
}

@keyframes morphs{

    0%{
        width: 50px;
        height: 30px;
        transform: translateY(0%);
    }


    100%{
        width: 50px;
        height: 50px;
        transform: translateY(calc(50px - 100px));
    }
}


@keyframes morphs .anisd{

    0%{
        width: 50px;
        height: 30px;
        transform: translateY(0%)
        
        animation-delay: 2s;
    }


    100%{
        width: 50px;
        height: 50px;
        transform: translateY(calc(50px - 100px));
    }
}