@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333333;
  font-size: 0.9em;
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
  color: #333333;
}

nav ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

header {
  background-color: #0066cc;
  height: 100px;
}

header h1 {
  float: left;
  margin-top: 14px;
}

header h1 a {
  color: white;
  display: block;
}

header h1 small {
  display: block;
  font-size: 0.5em;
}

#header_menu {
  float: right;
}

#gnb {
  float: right;
  margin-top: 10px;
}

.gmain {
  float: left;
  margin-left: 15px;
  position: relative;
}

.gmain::after {
  content: "";
  display: block;
  width: 1px;
  height: 0.8em;
  background-color: white;
  position: absolute;
  right: -8px;
  top: 6px;
}

.gmain:last-of-type::after {
  content: none;
}

.gmain a {
  color: white;
}

.gmain:first-of-type > a {
  padding-bottom: 10px;
}

.gsub {
  display: none;
  position: absolute;
  background-color: white;
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #999;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
  z-index: 800;
}

.gsub a {
  color: #333333;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 3px 0;
}

.gsub li:last-of-type a {
  border-bottom: none;
}

.gmain:hover .gsub {
  display: block;
}

header container {
  position: relative;
}

#lnb {
  clear: both;
  float: right;
  margin-top: 8px;
  right: 0;
  left: 30px;
  overflow: hidden;
  height: 55px;
  transition: all 0.3s;
}

#lnb:hover {
  height: 180px;
  border-bottom: 1px solid #ccc;
}

.main {
  float: left;
  width: 130px;
}

.main > a {
  display: block;
  text-align: center;
  padding: 15px 5px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
}

.main > a::after {
  content: "";
  display: block;
  width: 3px;
  height: 20px;
  background-color: white;
  position: absolute;
  right: -1.5px;
  bottom: -6px;
  border-radius: 1px 1px 0 0;
}

.main:last-of-type > a::after {
  content: none;
}

sub {
  position: absolute;
  width: 130px;
  height: 300px;
  background-color: white;
}

.sub a {
  display: block;
  padding: 3px 15px;
  border-bottom: 1px solid #cccccc;
  background-color: #fefefe;
}

footer {
  background-color: #0066cc;
  color: white;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: right;
  margin-top: 60px;
}

footer a {
  color: white;
}
